body {
  background-image: url(https://c0.wallpaperflare.com/preview/871/274/395/wall-texture-background-white.jpg);
}

main {
  width: 80%;
  display: block;
  background-color: white;
  margin: 0 auto;
}

header {
  background-color: #a1c935;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}

header a {
  text-decoration: none;
  color: black;
  justify-content: flex-end;
  margin-left: 3rem;
  margin-right: 2rem;
  font-size: large;
}

header img {
  height: 5rem;
  padding-left: 0.5rem;
}

.container {
  display: flex;
}

.sub-section-1 {
  width: 40%;
  padding: 15px;
  margin-left: 0.5rem;
}

.sub-section-2 {
  width: 60%;
  padding: 15px;
  margin-left: 0.5rem;
}

section img {
  width: 50%;
  float: left;
  padding: 5px 20px 20px 0px;
  max-width: 500px;
}

footer {
  text-align: center;
  padding: 20px;
}

button {
  background-color: #a1c935;
  color: white;
  height: 40px;
  border: none;
  border-radius: 2px;
  /* float: right; */
  padding-right: 15px;
  padding-left: 15px;
  justify-content: flex-end;
}

.right {
  text-align: right;
}

p {
  text-align: justify;
}
