#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

div > img {
    width: 100%;
}

p {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}