.iki-logo {
  max-width: 50px;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  width: 80%;
  padding-left: 10%;
}

div a {
  padding-right: 15px;
  color: grey;
}

main {
  width: 80%;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 3px;
}

section {
  width: 80%;
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  padding: 15px;
}

section p img {
  width: 40%;
  float: left;
  padding: 5px;
  max-width: 300px;
}

.footer-text {
  text-align: center;
}

#contact input[type="submit"] {
  width: 50%;
  background-color: green;
  color: white;
  border: none;
  height: 2rem;
}

#contact input,
#contact textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.green-text {
  color: green;
}

#contact table {
  width: 100%;
  text-align: center;
  border: 1px solid grey;
  margin-top: 50px;
}

#contact table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

#contact .green-text {
  font-weight: bold;
}
