.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid-container {
  display: grid;
}

.grid-1 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: black;
  color: white;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* game over */
.section-03 {
  grid-column-start: 1;
}

/* leveling up */
.section-04 {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
}

/* .figure,
img {
  width: 100%;
  max-width: 37.5rem;
}

.figure {
  position: relative;
  margin: 0 auto;
}

.figure img {
  position: relative;
  text-align: center;
  object-fit: contain;
  padding: 2rem 1rem;
  margin: 0 auto;
}

figcaption {
  position: absolute;
  background-color: #000;
  color: #fff;
  font-size: 0.65rem;
  text-transform: uppercase;
  bottom: 0.75rem;
  left: 2.75rem;
  padding: 0.25rem;
} */

section {
  border: 2px solid white;
}

.article-tags span {
  background-color: #5c0dfc;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  /* needed to center text due to below featured border */
  border: 2px solid #5c0dfc;
}

.article-tags {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.first-para::first-letter {
  font-family: "Chakra Petch", sans-serif;
  font-size: 5rem;
  padding: 1rem;
  margin-right: 0.25rem;
  float: left;
  color: #5c0dfc;
  font-weight: 900;
  text-shadow: 0.0625rem 0.0625rem 0.125rem black, 0.25rem 0.25rem 0 #0e028c;
}

.text-justify p,
.section-02 p,
.section-03 p,
.section-04 p {
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

.quote p {
  color: #5c0dfc;
  padding: 0rem 3rem 0 3rem;
  font-size: 3.25rem;
  line-height: 3.25rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-02 h2,
.section-03 h2,
.section-04 h2 {
  padding-left: 2rem;
}
