@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;900&display=swap");

$fontColor: #080f1a;
$fontColorLight: #73829e;
$buttonColor: #303ca5;
$priceBackground: #f4f6fc;
$fontFamily: "Nunito Sans", sans-serif;
