/* body {
  background-color: black;
} */

/* @media (min-width: 768px) {
  body {
    background-color: pink;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: blue;
  }
} */

@media screen and (orientation: landscape) {
  body {
    background-color: black;
  }
}

@media screen and (orientation: portrait) {
  body {
    background-color: pink;
  }
}
