body {
  background-color: bisque;
}

.max-width-container {
  display: block;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

header {
  background-color: olive;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.flex-container {
  display: flex;
}

.header-flex {
  justify-content: space-between;
}

header span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: bisque;
  padding-right: 0.5rem;
}

.logo {
  display: block;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.h2 {
  background-color: rgb(211, 211, 211);
  /* width: 90%; */
  color: black;
  display: block;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  border-radius: 5px;
  font-size: 1.25rem;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container img {
  max-width: 100%;
  /* width: 21rem; */
  /* width: 100vw; */
  padding: 1rem;
  box-sizing: border-box;
}

.grid-item {
  background-color: burlywood;
  /* justify-self: center; */
  /* margin-right: 2rem; */
}

a {
  color: black;
}

h3 {
  text-transform: uppercase;
}

.section-footer {
  background-color: burlywood;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.grid-container-footer {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

footer {
  background-color: olive;
  display: block;
  margin: 0;
}

footer span {
  text-align: center;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.reservation {
  font-weight: bold;
  display: none;
}

.grid-container-footer div img {
  max-width: 100%;
}

/* .inline {
  display: inline;
}

.width-33 {
  display: inline;
  width: 33%;
} */

@media only screen and (max-width: 800px) {
  /* .max-width-container {
    margin-left: 1rem;
    margin-right: 1rem;
  } */
  .grid-container {
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container-footer {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container {
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-container-footer {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .reservation {
    display: inline;
  }
}
